
:root{
    --softred:hsl(14, 88%, 65%);
    --veryDarkGrayBlue:hsl(237, 12%,33%);
    --darkGrayBlue:hsl(240,6%,50%);
    --lightGrayBlue:hsl(240,5%,91%);
    --fontSize:12px;
}

*{
    
    box-sizing: border-box;
}

html{
    font-size: var(--fontSize);
}

body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(hsl(273,75%,66%), hsl(240,73%,65%));
  display: grid;
  justify-content: center;
  align-content: center;
}
.wrapper{
    background: rgb(226,226,226) url("overlay-bg.jpg") no-repeat 1260% 65%;
    border-radius: 30px;
    height: 509px;
    width: 920px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;
}
.answer{
    display: none;
}
.active .answer{
    display: block;
    padding-bottom: 1.3rem;
    color: var(--veryDarkGrayBlue);
    transition: all .3s ease-in;
}
.img{
    transform: rotate(0deg);
    transition: all .3s ease-in;
}
.active .img{
    transform: rotate(180deg);
    transition: all .3s ease-in;
}
.active h3{
    font-weight: 700;
}
.accordion_wrapper{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}
.questions_accordions{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.question-answer_accordion{
    width: 350px;
    border-bottom: 1px solid #b8b8b9;
}
.title_acordion{
    font-size: 3rem;
    margin-top: 0px;
}
.title_question{
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--veryDarkGrayBlue);
    margin: 1.4rem 0rem;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}